{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
    <a href="{% url 'task:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'task:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
      Update Worker
    </a>
  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>
  <p><strong>Is staff:</strong> {{ worker.is_staff }}</p>

  <div class="ml-3">
    <h4>Tasks</h4>

    {% for task in worker.tasks.all %}
      {% if task.is_completed %}
        <h3>Completed tasks</h3>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Tag</th>
            <th>Task type</th>
          </tr>
          <tr>
            <td>{{ task.id }}</td>
            <td>
              <a href="{% url "task:task-detail" pk=task.id %}">{{ task.name }}</a>
            </td>
            <td>{{ task.tag.name }}</td>
            <td>{{ task.task_type }}</td>
          </tr>
        </table>
      {% else %}
        <h3>Unfulfilled tasks</h3>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Tag</th>
            <th>Task type</th>
          </tr>
          <tr>
            <td>{{ task.id }}</td>
            <td>
              <a href="{% url "task:task-detail" pk=task.id %}">{{ task.name }}</a>
            </td>
            <td>{{ task.tag.name }}</td>
            <td>{{ task.task_type }}</td>
          </tr>
        </table>
      {% endif %}
        <hr>
    {% empty %}
      <p>No tasks!</p>
    {% endfor %}
  </div>
{% endblock %}
