{% load static %}

<footer class="footer">
        <div class="col-12">
          <div class="text-center">
          <h6 class="text-gradient text-primary text-sm">About me</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/Jejemira" target="_blank">
                GitHub
              </a>
            </li>
          </ul>
          </div>
        </div>

      <div class="col-12">
        <div class="text-center">
          <p class="my-4 text-sm">
            &copy; 2025 IT Company Task Manager
          </p>
        </div>
      </div>
</footer>
